@import "lib/bootstrap/scss/bootstrap";

.page-header {
  background-image: url("image/header-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

.navbar-dark .navbar-brand {
  color: #fed136;
  font-style: italic;
}
